* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-body-color: rgb(0, 0, 128);
  --secondary-body-color: rgb(254, 248, 240);
  --primary-button-color: rgb(252, 113, 27);
  --text-font-color: rgb(255, 255, 255);
  --title-font-color: rgb(18, 17, 57);
  --alt-font-color: rgb(246, 143, 33);
  --secondary-button-color: rgb(252, 70, 8);
}

html {
    scrollbar-gutter: none;
  /* scroll-behavior: smooth; */
  overflow-x: hidden;
}

body {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Urbanist", sans-serif;
  background-color: var(--secondary-body-color);
  overflow-y: hidden;

  /* max-width: 1440px; */
}

body::-webkit-scrollbar {
    width: 1px;
  }

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  /* max-width: 100%; */
  height: auto;
}

label {
    display: block;
    font-size: 16px;
    font-weight: 700;
}

select {
    appearance: none;
    background-color: transparent;
    padding: 5px 10px;
    height: 50px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    border-radius: 5px;

    outline: 1px solid var(--primary-button-color);
}

option {
    font-size: 18px;
    padding: 15px;
    
    
}

option:checked,
option:hover {
    background-color: var(--primary-button-color)!important;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

/* input[type="file"] {
    padding: 20px;
    padding-right: 0;
    background-color: var(--primary-button-color);
    cursor: pointer;
    border-radius: 10px;
    outline: none;
} */


input[type="file"] {
    outline: none;
    padding: 4px;
    margin: -4px;
  }
  
  input[type="file"]:focus-within::file-selector-button,
  input[type="file"]:focus::file-selector-button {
    outline: 1px solid #0964b0;
    outline-offset: 2px;
  }
  
  input[type="file"]::before {
    top: 16px;
  }
  
  input[type="file"]::after {
    top: 14px;
  }
  
  /* ------- From Step 2 ------- */
  
  input[type="file"] {
    position: relative;
  }
  
  input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
  }
  
  /* Faked label styles and icon */
  input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    /*   top: 11px; */
    left: 40px;
    color: #0964b0;
    content: "Upload File";
  }
  
  input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    /*   top: 10px; */
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  /* ------- From Step 1 ------- */
  
  /* file upload button */
  input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }



/* ================ */
/* REGISTRATION */
/* ================ */

.registration {
    height: 100vh;

    
}

.registration__section {


    display: flex;
    justify-content: stretch;
    align-items: stretch;

    height: 100%;
}

.registration__layout{
    width: 50%;
    height: 100%;

    padding: 50px 70px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.registration__logo {
    width: 150px;
    height: 68px;
    margin-bottom: 30px;
    display: inline-block;
}

.research__logo {
    margin-bottom: 10px;
}

.registration__logo-img {
    width: 100%;
    height: 100%;
}

.form__contents-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.primary-heading {
    font-size: 80px;
    font-weight: 100px;
    font-family: "Urbanist", sans-serif;
}

.form__welcome-address {
    font-size: 32px;
}

.input__label {
    margin-bottom: 5px;
}

.form__input {
    width: 100%;
    padding: 5px 10px;
    height: 50px;
    outline: 1px solid var(--alt-font-color);
    border: 1px solid var(--primary-body-color);
    border-radius: 5px;
    background-color: transparent;
    font-size: 16px;
}

.resume {
    margin-bottom: 20px;
    /* font-weight: 500; */
}

.emoji {
    font-size: 28px;
    margin-left: 8px;
}

.form-content {
    margin-bottom: 20px;
}

.research-content {
    margin-bottom: 10px;
}


.registration__image-container {
    width: 50%;
    height: 100%;

    /* height: 200px; */

}


.registration-img {
    object-fit: cover;
    object-position: left;

    height: 100%;
    width: 100%;
}

.research-img {
    height: 100%;
    width: 100%
}

.school-email-img {
    object-position: center;
}

.btn {
    padding: 15px 40px;
    background-color: var(--primary-button-color);
    color: var(--text-font-color);
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;

    text-align: center;
}

.page__number {
    text-align: right;
    font-size: 18px;
    font-weight: 500;
}


/* Pagination BTNS */
.pagination-btns {
    display: flex;
    justify-content: space-between;
}

.img-5 {
    object-position: center;
}

.reset {
    font-weight: 500;
    text-align: center;
    color: #0f0f0f;
}



@media screen and (max-width: 825px) {

    .registration__logo {
        width: 100px;
        height: 45px;
    }
    .primary-heading {
        font-size: 65px;
    }

    .form__welcome-address {
        font-size: 28px;
    }

    label {
        font-size: 14px;
    }

    .form-content {
        margin-bottom: 10px;
    }

    .btn {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 790px) {
    .primary-heading {
        font-size: 60px;
    }

    .form__welcome-address {
        font-size: 24px;
    }

    .form__input {
        height: 45px;
        border: none;
    }

    .btn {
        font-size: 16px;
    }

    .registration__logo {
        font-size: 21px;
    }
}

@media screen and (max-width: 722px) {
    .registration__layout {
        padding: 40px 30px;
    }
}

@media screen and (max-width: 585px) {

    .registration__logo {
        width: 80px;
        height: 40px;
        margin-bottom: 20px;
    }

    .primary-heading {
        font-size: 50px;
        font-weight: 700;
    }

    .form__welcome-address {
        font-size: 20px;
    }

    .emoji {
        font-size: 18px;
    }

    .form__input {
        height: 40px;
    }

    .btn {
        margin-top: -10px;
        padding: 10px 15px;
    }

    .email__address-img {
        object-position: center;
    }
}

@media screen and (max-width: 540px) {

    .primary-heading {
        font-size: 40px;
    }
    .btn {
        font-size: 14px;
    }
}


@media screen and (max-width: 490px) {

    .registration__section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .registration__layout {
        width: 100%;
    }
    .registration__image-container {
        display: none;
    }
}







